<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Your email" formControlName="email">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
    </div>
    <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block">Login</button>
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px">
        <p>Don't have an account? </p><a routerLink="/auth/register">Sign-up</a>
    </div>
</form>