/* You can add global styles to this file, and also import other style files */

$default-padding: 24px
$background-light: white
$color-light: #61686f
$font-light: 'Nunito', sans-serif
$detail-light: #eeeffd

body
    display: flex
    height: 100vh
    font-family: $font-light
    color: $color-light

ul
    padding: 0
    li
        list-style-type: none

a
    color: inherit
    text-decoration: inherit

img
    max-width: 100%
    display: block

.elevation
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)