$item-width: 200px
$item-heigth: 300px

section
    display: flex
    flex-wrap: wrap
    & div
        margin: 20px 20px 0 0
        max-width: $item-width
    & p
        overflow: hidden
        text-overflow: ellipsis
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: 2
        padding-top: 10px

img
    height: $item-heigth
    border-radius: 5px
    cursor: pointer