<section fxLayout="row wrap" fxLayoutAlign.xs="center center">
    <div *ngFor="let book of books" (click)="openDetails(book)">
        <img [src]="book.image"  alt="" class="elevation">
        <p>{{book.name}}</p>
        <button (click)="onActionClick(book)" type="button" class="btn btn-light" [disabled]="book.loan">{{book.loan ? 'Unavailable' : 'Borrow' }}</button>
    </div>
    
    <p *ngIf="!books.length"><i>Seems like there are no books here</i></p>
</section>
