<div fxLayout="row" fxLayoutAlign="space-between center">
    <h1>Home</h1>
 
    <div class="btn-group" [ngClass.xs]="{'btn-group-vertical': true}">
        <label class="btn btn-light" [(ngModel)]="availability" (ngModelChange)="onAvailabilityChange($event)"
            btnRadio="unavailable" tabindex="0" role="button">Unavailable</label>
        <label class="btn btn-light" [(ngModel)]="availability" (ngModelChange)="onAvailabilityChange($event)"
            btnRadio="available" tabindex="0" role="button">Available</label>
      </div>
</div>

<app-book-list [books]="books$ | async" (actionClicked)="borrowBook($event)"></app-book-list>