<div class="modal-header">
    <h4 class="modal-title pull-left">Add book</h4>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()" fxLayout="column">
        <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="image" placeholder="Image URL" formControlName="image">
        </div>
        <div class="form-group">
            <textarea class="form-control" id="description" rows="3" placeholder="Description" formControlName="description"></textarea>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <button type="button" aria-label="Cancel" (click)="bsModalRef.hide()" class="btn btn-light">Cancel</button>
            <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>