<div class="modal-header">
    <h4 class="modal-title pull-left">Book details</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="40">
        <img [src]="book.image" alt="">
    </div>
    <div fxFlex="60">
        <h1 [style.fontSize.em]="1.5">{{book.name}}</h1>
        <br>
        <p [style.font-style]="book.description ? 'normal' : 'italic'">
            {{book.description ? book.description : 'No description provided'}}
        </p>
    </div>
</div>