@import "src/styles.sass"
    
header
    background: $background-light
    display: flex
    width: 100vw
    padding: $default-padding
    font-weight: 600
    letter-spacing: 2px
    text-transform: uppercase
    border-bottom: 1px solid $detail-light

p, a, ul
    padding: 0
    margin: 0

.active-link
    font-weight: 700
    text-decoration: underline