<header fxLayout="row" fxLayoutAlign="space-between center" [ngStyle.xs]="{'font-size.em': 0.6}">
    <p>{{companyName}}</p>
    <ul fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
        <li><a routerLinkActive="active-link" routerLink="/books/home">Home</a></li>
        <li><a routerLinkActive="active-link" routerLink="/books/my-books">My books</a></li>
        <li><a routerLinkActive="active-link" routerLink="/books/loans">My loans</a></li>
    </ul>
</header>
