<div fxLayout="row" fxLayoutAlign="space-between center">
    <h1>My Books</h1>

    <button type="button" class="btn btn-success" (click)="openForm()">
        Add book
    </button>
</div>

<section fxLayout="column" fxLayoutGap="10px">
    <div *ngFor="let book of books$ | async" class="elevation" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <img [src]="book.image" [alt]="book.name + ' cover'">
        <div style="flex: 1">
            <p [style.fontWeight]="700">{{book.name}}</p>
            <p [style.fontStyle]="book.description ? 'normal' : 'italic'">{{book.description ? book.description : 'No description provided'}}</p>
        </div>
        <button *ngIf="book.loan" type="button" class="btn btn-outline-dark" disabled>Borrowed</button>
    </div>
    <p *ngIf="!(books$ | async).length"><i>Seems like there are no books here</i></p>
</section>