img
    height: 100px
    max-width: 100px

section
    > div
        padding: 10px
        border-radius: 5px

p
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 2